

nav{
	background-color: #008F7A;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

h5 {
	font-family: font-family: 'Fasthand', cursive;
}

h2{
	font-family: 'Merriweather', serif;
}

footer {
	background-color: #008F7A; 
}